h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 30px;
}

h2 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 25px;
}

h3 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 15px;
}

body {
  background-color: lightblue;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}
