h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 30px;
}

h2 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 25px;
}

h3 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 15px;
}

body {
  background-color: lightblue;
  text-align: center;
}


/*https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

img {
  max-width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 480px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 480px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

 @media only screen and (max-device-width: 480px) {
   .button {
     font-size: 90%;
     padding: 5px;
   }
 }
