h1 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 30px;
}

h2 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 25px;
}

h3 {
	font-family: 'Comic Sans MS', cursive, sans-serif;font-size: 15px;
}

body {
  background-color: lightblue;
  text-align: center;
}

@media (min-width: 800px) {
	#tabs { float: left; height: 100%; width: 140px;}
	#content { margin-left: 140px;}
	.contact-icon {display: block;}
}

@media (max-width: 550px) {
	#tabs { display: none;}
	#content_dialer { display: block !important; margin-top: 20px;}
	#content_contacts { display: block !important; margin-top: 20px;}
	#content_add_contact { display: block !important; margin-top: 20px;}
}
